
@{
    ViewBag.Title = "Index_V1";
    Layout = null;
    @model List<string>

}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SPCA MIDRAND - About</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Themes/assets/img/favicon.jpg" rel="icon">
    <link href="~/Themes/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Themes/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Themes/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Themes/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Themes/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Themes/assets/css/main.css" rel="stylesheet">

    <style>

       .btn{
            border-radius:5px;
        
        }
    </style>

    <!-- =======================================================
    * Template Name: PhotoFolio - v1.0.0
    * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
                <img src="~/Themes/assets/img/Gallery/logo.jpg" alt="SPCA MIDRAND">

                <h1>SPCA MIDRAND</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/About/Index">About</a></li>
                    @*<li class="dropdown">
                            <a href="#"><span>Gallery</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="/Gallery/Index">Nature</a></li>
                                <li><a href="/Gallery/Index">People</a></li>
                                <li><a href="/Gallery/Index">Architecture</a></li>
                                <li><a href="/Gallery/Index">Animals</a></li>
                                <li><a href="/Gallery/Index">Sports</a></li>
                                <li><a href="/Gallery/Index">Travel</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Sub Menu</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                    <ul>
                                        <li><a href="#">Sub Menu 1</a></li>
                                        <li><a href="#">Sub Menu 2</a></li>
                                        <li><a href="#">Sub Menu 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                    <li><a href="/Services/Index">Services</a></li>
                    <li><a href="/Contact/Index">Contact</a></li>
                </ul>
            </nav>

            <div class="header-social-links">
                <a href="https://twitter.com/midrandspca?lang=en" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/SPCAMidrand/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>

    @*<h2 style="text-align:center">PRODUCT CARD</h2>*@

    <div class="page-header d-flex align-items-center" style="background: #052c3f">
        <div class="container position-relative" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7UjVRoSL8AQ7IDRp2nAJZkpVBAyYH3W6VHOPKh570bU5EsJL0hpyepUKP_kYGqFMkp7U&usqp=CAU)">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>PAYMENT</h2>
                    <p>
                        Donation payment to Midrand SPCA.
                    </p>

                    @*<a class="cta-btn" href="/Contact/Index" style="background: #708090">Adopt a Animal</a>*@

                </div>
            </div>
        </div>
    </div>
    <div id="loginOptionBox" class="text-center">
        <div id="subheading" class="jumbotron text-center">
            <h3>Pay securely with PayPal</h3>
            <div class="btn"><img src="~/Resources/Pay_Pay_VZero.png" style=" border-radius:10px;text-align:center" /></div>

        </div>

        <!-- Order Details  -->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="h2 text-center" style="border:solid;border-color:dimgrey;margin:20px;padding:60px;">
                    Donation Details
                    <div class="h5">Your Donation..... $79.99</div>


                    <span class="h2" style="padding:80px;">Total: $79.99</span>

                </div>

            </div>
            <div class="col-md-2"></div>
        </div>


        <div class="btn" onclick="CallPaypal();"><img src="~/Resources/Pay_Pal_Vr2.png" style=" width:100%; border-radius:10px; width:40%; height:10%;border: 5px solid aqua" /></div>
        <br />
        <div class="h5">Make a Payment Checkout</div>

        <!-- display messagesto the payer -->
        @if (Model != null && Model.Count > 0)
        {
            foreach (string res in Model)
            {
                <div class="h4">@res</div>
            }
        }

    </div>

    <script>
    function CallPaypal() {
        window.location.href = '@Url.Action("Paypalvtwo_v2")';
    }
    </script>

    <br />
    <br />
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader">
        <div class="line"></div>
    </div>


    <script src="~/Themes/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Themes/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Themes/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Themes/assets/vendor/aos/aos.js"></script>
    <script src="~/Themes/assets/vendor/php-email-form/validate.js"></script>


    <script src="~/Themes/assets/js/main.js"></script>

</body>

</html>